body {
    width: 100%;
    height: 100%;
    background-image: url(body{
 width: 100%;
    height: 100%;
    background-image: url(wp10509703-restaurant-menu-wallpapers.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#myMap {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/*.entire_cont{
    background-image: url(/images/home_img1.jpg);
    height:100%;
    width:100%;
}*/

#heading {
    width: 100%;
    text-align: center;
    font-size: 7vw;
    color: black;
    /*font-family:"Trirong";*/
}

#heading1 {
    width: 100%;
    font-size: 2.5vw;
    color: black;
    margin: 3vw;
    /*font-family:"Trirong";*/
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: black;
    width: 100%;
}

main {
    color: black;
}

.container {
    width: 100%;
    height: 100%;
}

#myMap {
    height: 400px;
}

#p-row1 {
    padding-top: 0%;
    margin-left: 3%;
    color: black;
    margin-top: 15%;
    font-size: larger;
}

#cont {
    align-items: center;
}

svg {
    margin-bottom: 10%;
    margin-top: 5%;
    margin-left: 20%;
}

.svg_cont {
    margin-top: 25%;
    padding-top: 4%;
}

);
background-attachment: fixed;
background-size: cover;
color: white;

}
#myMap {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*.entire_cont{
    background-image: url(/images/home_img1.jpg);
    height:100%;
    width:100%;
}*/
#heading {
    width: 100%;
    text-align: center;
    font-size: 7vw;
    color: black;
    /*font-family:"Trirong";*/
}
#heading1 {
    width: 100%;
    font-size: 2.5vw;
    color: black;
    margin: 3vw;
    /*font-family:"Trirong";*/
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: black;
    width: 100%;
}
main {
    color: black;
}
.container {
    width: 100%;
    height: 100%;
}
#myMap {
    height: 400px;
}
#p-row1 {
    padding-top: 0%;
    margin-left: 3%;
    color: black;
    margin-top: 15%;
    font-size: larger;
}
#cont {
    align-items: center;
}
svg {
    margin-bottom: 10%;
    margin-top: 5%;
    margin-left: 20%;
}
.svg_cont {
    margin-top: 25%;
    padding-top: 4%;
}